.loginView {
    background-color: #fff;
    margin: 0 auto;
    height: 35vh;
    width: 30%;
    border-radius: 5px;

    ul {
        padding: 20px;

        li:nth-child(1) {
            display: flex;
            align-items: flex-end;
            position: relative;

            h2 {
                font-size: 28px;
            }

            span {
                margin-left: 20px;
                border-left: 1px solid black;
                padding-left: 10px;
                font-size: 14px;
                margin-bottom: 5px;
            }

            strong {
                position: absolute;
                right: 0;
                bottom: 5px;
                font-size: 14px;
                cursor: pointer;

                i {
                    margin-left: 5px;
                }
            }
        }

        li:nth-child(2) {
            margin-top: 50px;

            .authcode {
                display: flex;
                margin-top: 20px;

                button {
                    width: 150px;
                    border: 1px solid #00ccff;
                    border-radius: 20px;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
        }

        li:nth-child(3) {
            margin-top: 20px;
        }

        li:nth-child(4) {
            margin-top: 20px;
            text-align: center;
            cursor: pointer;
        }

        li:nth-child(4):hover {
            color: red;
        }

        p {
            color: red;
        }
    }
}




// 登录方式的导航样式
.typeLogin {
    position: absolute;
    right: 20px;
    color: #ff9900;
    font-size: 18px;
    top: 20px;
}

.typeLogin:hover {
    cursor: pointer;
    color: #f00;
}


// 注册页面样式
.register {
    .progress {
        margin-top: 50px;
        padding: 0 20%;

        i {
            font-size: 38px;
        }

        .registerFrom {
            width: 400px;
            margin: 0 auto;

            ul {
                margin-bottom: 20px;

                li {
                    margin-top: 20px;

                    p {
                        color: red;
                    }
                }

                margin-top: 50px;

                li:nth-child(2) {
                    div {
                        display: flex;
                    }
                }
            }
        }
    }
}

.retrieve {
    .progress {
        margin-top: 50px;
        padding: 0 20%;

        i {
            font-size: 38px;
        }
        ul{
            margin-top: 50px;
            padding: 0 30%;
            li{
                margin-bottom: 20px;
            }
            li:nth-child(1){
                strong{
                    font-size: 18px;
                }
            }
            .Input{
                display: flex;
            }
            .err{
                color: red;
            }
        }
    }
}