.homeBox {
    .homeBoxConnter {
        margin-top: 20px;
        padding: 0 15%;
        .nav{
            // padding: 0 30%;
            ul{
                display: flex;
                justify-content: space-around;
                font-weight: 600;
                font-size: 14px;
                li{
                    cursor: pointer;
                }
                li:hover{
                    color: orange;
                }
            }
            .navActivate{
                color: red;
            }
        }
        .Slideshow{
            margin-top: 50px;
        }
    }
}