.setupBox {
    padding: 0 20vw;

    .title {
        padding-top: 10vh;
        display: flex;
        align-items: center;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        h2 {
            margin-left: 20px;
            font-size: 38px;
            font-weight: 800;
        }
    }
}

.upload {
    padding: 0 10%;

    .form {

        ul {
            li:nth-child(1) {
                margin-bottom: 50px !important;
                position: relative;

                .canvas {
                    border: 1px solid #000;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;

                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 58px;
                    }
                }
            }

            li {
                display: flex;
                margin-top: 20px;

                .canvasInp {
                    border: 2px solid #000;
                    width: 100px;
                    height: 100px;
                    background-color: green;
                    border-radius: 50%;
                    position: absolute;
                    z-index: 99;
                    left: 13.2%;
                    opacity: 0;
                }

                input,
                textarea {
                    border: 1px solid #ccc;
                    outline: none;
                    width: 50%;
                    text-indent: 1rem;
                    border-radius: 3px;
                }

                input {
                    height: 30px;
                }

                input:focus {
                    border: 1px solid #1890ff;
                }

                label {
                    text-align: right;
                    width: 100px;
                    display: block;
                    line-height: 30px;
                    margin-right: 10px;
                }
            }
        }

        .btu {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            padding: 0 20% 0 0;

            >input {
                background-color: #dddddd;
                line-height: 30px;
                width: 80px;
                border-radius: 15px;
                border: none;
                outline: none;
                margin-right: 20px;
                cursor: pointer;
            }

            .submit:hover {
                background-color: #1890ff;
            }

            .cancel:hover {
                background-color: #ff4d4f;
            }
        }
    }
}




// 账号设置的样式
.idSet {
    .from {
        padding: 0 30%;

        .authCode {
            display: flex;
            margin: 20px 0;
        }
    }

    .steps {
        margin-top: 20px;

        i {
            font-size: 28px !important;
        }
    }
}